{% extends "bootstrap/base.html" %}


{% block content %}

    <div class="container mt-5">


      <form action="upload" method="post" enctype="multipart/form-data" onsubmit="return ValidateForm(this);">
        <div class="input-group mb-3">
          <div class="custom-file">
            <input type="file" class="custom-file-input" multiple="" name="file[]">
            <label class="custom-file-label">Choose file</label>
          </div>
          <div class="input-group-append">
            <input class="input-group-text" type="submit" value="Upload">
          </div>
        </div>
      </form>
    </div>



{% endblock %}