{% extends "bootstrap/base.html" %} {#links file index html to flask boot strap found in venv>lib>site-packages>flask-bootstrap#}
{% import "bootstrap/wtf.html" as wtf %} {# apllies additional function from flask-bootstrap interreation to wtf-flask #}

{% block content %} {# template for custom page content in body #}

    <div class="container mt-5">


      <form action="upload" method="post" enctype="multipart/form-data" onsubmit="return ValidateForm(this);">
        <div class="input-group mb-3">
          <div class="custom-file">
            <input type="file" class="custom-file-input" multiple="" name="file[]">
            <label class="custom-file-label">Choose file</label>
          </div>
          <div class="input-group-append">
            <input class="input-group-text" type="submit" value="Upload">
          </div>
        </div>
      </form>
    </div>
    <div>
    <h1>Test of Form</h1>
        <form method="POST" enctype="multipart/form-data">
            {% block styles %} {# overrides label for form #}
            {{super()}} {# tells jinja this is a override to styles #}
            <style>
              .control-label {display: none;}
            </style>
            {% endblock %}
            {# usefull links
            https://bootstrap-flask.readthedocs.io/en/latest/macros.html
            https://john.soban.ski/pass-bootstrap-html-attributes-to-flask-wtforms.html TUTORIAL


            #}
            {{ form.hidden_tag() }} {# renders container for form and adds boiler plate like csfr token ect #}
            {{ wtf.form_field(form.choosefile,class="btn btn-default") }} {# renders the button as class = defualt #}
            {{ wtf.form_field(form.submit) }} {# renders from submit #}
        </form>
    </div>



{% endblock %}